<h3 class="main-header"><%= @user.username %>'s Profile</h3>

<div class="profile-section">
<h3 class="sub-header"><%= @user.username %>'s Goals:</h3>
  <ul class="goal-list">
    <% @user.goals.each do |goal| %>
      <% if current_user.id != @user.id %>
        <li><%= render 'shared/basic_goal_info', goal: goal if !goal.private %></li>
      <% else %>
        <li><%= render 'shared/basic_goal_info' , goal: goal %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="profile-section">
  <h3 class="sub-header">Comments</h3>
  <% @user.comments.each do |comment| %>
    <p><%= comment.body %> -<%= User.find_by(id: comment.author_id).username %></p>
  <% end %>

  <p>
  <%= render 'shared/comment_form', commentable_id: @user.id, commentable_type: "User" %>
  </p>
</div>

<br>
<p class="nav-links"><a data-turbolinks="false" href="<%= users_url %>">All Users</a></p>